<a href="https://colab.research.google.com/github/EriveltoViana/EriveltoViana/blob/main/MeusEstudos_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Instalação e importação**

In [ ]:
#pip install pandas (Instalação, exceto no Anaconda ou no Colab. Precisa no Jupiter)
#import pandas as pd (Como chamar o pandas)

**DataFrames e Series**

In [ ]:
#DataFrames
dados = {
    'Nome': ['Alice', 'Bob', 'Charlie', 'David'],
    'Idade': [25, 30, 35, 40],
}
df = pd.DataFrame(dados)
print(df)

In [ ]:
#Series
s = pd.Series([1, 2, 3, 4, 5])
print(s)

**Lendo Tabelas - DISPLAY MOSTRA DE UM JEITO. PRINT MOSTRA DE OUTRO.**

In [ ]:
#PARA ARQUIVOS CSV
from google.colab import files

uploaded = files.upload()
df = pd.read_csv('wine.csv')

import csv
with open('wine.csv', 'r') as arquivo_csv:
    leitor_csv = csv.reader(arquivo_csv)
    for linha in leitor_csv:
        print(linha)

In [ ]:
#PARA ARQUIVOS EXCEL
from google.colab import files

uploaded = files.upload()
df = pd.read_excel('BD CURSOS-1.xlsx')
print(df)

In [ ]:
!rm dataset.xlsx

In [ ]:
!ls

In [ ]:
#PARA ARQUIVOS EXCEL
import pandas as pd
from google.colab import files

uploaded = files.upload()
df = pd.read_excel('dataset.xlsx')
#print(df)
display(df)

**Manipulação básica de dados**

In [ ]:
df.head() #PARA VISUALIZAR AS 5 PRIMEIRAS LINHAS

In [ ]:
df.tail() #PARA VISUALIZAR AS 5 ÚLTIMAS LINHAS

In [ ]:
df.sample(4) #PARA VISUALIZAR N LINHAS ALEATÓRIAS : df.sample(4) - Ex: 4 linhas aleatórias

In [ ]:
df[['Alcohol', 'Ash', 'Color_intensity']] #SELECIONAR COLUNAS ESPECÍFICAS

In [ ]:
df['Color_intensity'] #SELECIONAR UMA COLUNA ESPECÍFICA

In [ ]:
df['Flavanoids'][1:6]

In [ ]:
df['Alcalinity_ash'][3:8]

**Séries booleanas e filtros**

In [ ]:
df['Quantidade'] > 9 #VISUALIZAÇÃO BOOLEADA (V ou F)

In [ ]:
df[df['Quantidade'] > 9] #O MESMO CÓDIGO ACIMA DENTRO DO DATAFRAME VIRA FILTRO

In [ ]:
uploaded = files.upload()
df = pd.read_excel('dataset.xlsx')

In [ ]:
df.head(9)

**Combinando filtros**

In [ ]:
#NECESSÁRIO CRIAR VARIÁVEIS, SETAR O FILTRO DESEJADO E UNIR COM O &.
fsegmento = df['Segmento'] == 'Home Office'
fpais = df['Pais'] == 'United States'
fprioridade = df['Prioridade'] == 'Alto'
fquantidade = df['Quantidade'] > 4

df[fsegmento & fpais & fprioridade & fquantidade].iloc[:5,[3,5,7,10,13]]

**Criando e removendo colunas**

In [ ]:
#PARA CRIAR UMA NOVA COLUNA VOCÊ ACESSA ELA COMO SE JÁ EXISTISSE E EM SEGUIDA IGUALA ELA A UMA EXISTENTE COM AS DEVIDAS DIFERENÇAS
df['Novo_ID_Cliente'] = df['ID_Cliente']=='Otários'

In [ ]:
#VISUALIZAR A COLUNA ORIGINAL E A RECEM CRIADA
df[['ID_Cliente','Novo_ID_Cliente']]

In [ ]:
#REMOVENDO COLUNAS
df = df.drop('Novo_ID_Cliente', axis=1)

**Resumindo dados**

In [ ]:
#GERA UM RESUMO INFORMATIVO SOBRE O DATAFRAME
df.info()

In [ ]:
#GERA UM RESUMO ESTATÍSTICO DAS COLUNAS NUMÉRICAS (PROCURAR ESTUDAR SOBRE)
df.describe()

In [ ]:
df['Lucro'].sum() #median(), max(), min()

In [ ]:
df['Lucro'].mean()

**Limpeza de Dados**

In [ ]:
!rm funcionarios_nulos.csv

In [ ]:
from google.colab import files
import pandas as pd
uploaded = files.upload()
df = pd.read_csv('funcionarios_nulos.csv')
df

In [ ]:
df.head(1)

In [ ]:
df.dropna() #APRESENTA A TABELA SEM OS VALORES NULOS

In [ ]:
df.dropna(subset='ID Departamento') #APRESENTA A TELA A COLUNA ID Departamento SEM OS VALORES NULOS.

In [ ]:
#AO INVÉS DE REMOVER OS VALORES NULOS EU POSSO SUBSTITUIR COM MÉDIA, POR EXEMPLO:

#ATRIBUIR À VARIÁVEL 'media_idade' A MÉDIA DA COLUNA IDADE. E COM A FUNÇÃO 'fillna' INSERIR OS VALORES DA VARIÁVEL.
media_idade = df['Idade'].mean()
df['Idade'] = df['Idade'].fillna(media_idade)
df

In [ ]:
#MUDANDO O TIPO FLOAT PARA TIPO INT DA COLUNA IDADE

df['Idade'] = df['Idade'].astype(int)
df

**Contando Ocorrências**

In [ ]:
from google.colab import files
import pandas as pd
uploaded = files.upload()
df = pd.read_csv('funcionarios.csv')
df

In [ ]:
df.head(1)

In [ ]:
df['Ativo'].value_counts() #REAIZA CONTAGEM DE QUANTOS FUNCIONÁRIOS ESTÃO ATIVOS.

In [ ]:
df['ID Departamento'].value_counts() #CONTAGEM DE QUANDOS FUNCIONÁRIOS POR DEPARTAMENTO.

**Operações de Agregação**

In [ ]:
df.groupby('ID Departamento')['Salário'].mean() #Agrupa e média salarial por departamento.

In [ ]:
df.groupby('ID Departamento')['Salário'].sum() #Agrupa a soma dos salários por departamento.

In [ ]:
df.groupby('ID Departamento')['Salário'].max() #Agrupa o maior salário por departamento.

**Ordenando Dados**

In [ ]:
df.sort_values(by='Salário') #ORDENA O SALÁRIO DO MENOR PARA O MAIOR. EX: POR SALÁRIO

In [ ]:
df.sort_values(by='Salário', ascending=False) #ORDENA O SALÁRIO DO MAIOR PARA O MENOR. EX: POR SALÁRIO

**Combinando dados**

In [ ]:
import pandas as pd
from google.colab import files

uploaded= files.upload()
df = pd.read_csv('departamentos.csv') #TRAZER A TABELA DEPARTAMENTOS.
df_dept = df
df_dept

In [ ]:
import pandas as pd
from google.colab import files

uploaded= files.upload()
df = pd.read_csv('funcionarios.csv') #TRAZER A TABELA FUNCIONÁRIOS.
df

In [ ]:
#MOSTRAR A JUNÇÃO DAS TABELAS ONDE O PANDAS IDENTIFICA O MESMO NOME DA COLUNA E FAZ A ATRIBUIÇÃO.

df_final = pd.merge(df, df_dept)
df_final

In [ ]:
#CASO O NOME DA COLUNA SEJA DIFERENTE PODE-SE INSERIR O NOME DO PRIMEIRO DATAFRAME E EM SEGUIDA ATRIBUIR O NOME DO SEGUNDO DATAFRAME.

df_final = pd.merge(df, df_dept, left_on='ID Departamento', right_on='ID Departamento' ).sort_values(by='ID Departamento')
df_final

In [ ]:
import pandas as pd
from google.colab import files

uploaded = files.upload()
df = pd.read_csv('novos_funcionarios.csv')
df_novos = df
df_novos

In [ ]:
!rm novos_funcionarios.csv

In [ ]:
!ls

In [ ]:
#CONCATENANDO TABELAS. JUNTANDO TABELAS SEMELHATES COM O MESMO PADRÃO COM O 'CONCAT'.

df_todos = pd.concat([df, df_novos])
df_todos

In [ ]:
#CONCATENANDO TABELAS. JUNTANDO TABELAS SEMELHATES COM O MESMO PADRÃO COM O 'CONCAT'. 'ignore_index=True - SERVE PARA IGNORAR O ÍNDICE


df_todos = pd.concat([df, df_novos], ignore_index=True).sort_values('Nome')
df_todos

**Escrevendo Dados em Arquivos**

In [ ]:
#CRIAR ARQUIVO COM TODOS OS DADOS ATUALIZADOS

df_todos.to_csv('todos_funcionarios_sim.csv')

In [ ]:
!ls

**UM POUCO SOBRE O ILOC**

In [ ]:
df.iloc[8316] #INDICA A LOCALIZAÇÃO EXATA DA LINHA, UM REGISTRO COMPLETO. EX:8316

In [ ]:
df.iloc[1:8] #VAI DA POSIÇÃO 1 ATÉ A POSIÇÃO 7, IGNORANDO O ÍNDICE 0.

In [ ]:
df.iloc[3:] #VAI DA POSIÇÃO 3 ATÉ O FINAL

In [ ]:
df.iloc[:3] #VAI DA POSIÇÃO 0 ATÉ A POSIÇÃO 2

In [ ]:
df.iloc[-5:] #MOSTRA AS ÚLTIMAS 5 LINHAS DA TABELA

In [ ]:
df['Lucro'].iloc[:100] #MOSTRA AS 100 INFORMAÇÕES APENAS DA COLUNA DETERMINADA E A QUANTIDADE

In [ ]:
df['Pais'].iloc[[21,37,79,100,671]] #MOSTRA AS LINHAS ESPECÍFICAS DE UMA COLUNA, BASTA DETERMINAR DENTRO DOS COLCHETES, OU SEJA, LISTA COMO PARÂMETRO.

In [ ]:
df.iloc[[21,37,79,100,671]] #NESTE CASO MOSTRA OS VALORES DE TODAS AS COLUNAS PARA AS LINHAS INDICADAS.

In [ ]:
df.iloc[0:4,0:9] #NESTE CONTEXTO MOSTRA PRIMEIRO AS LINHAS, DEPOIS AS COLUNAS.

In [ ]:
df.iloc[:,[1,3,5]] #NESTE EXEMPLO MOSTRA-SE TUDO DA COLUNA 1, 3 E 5.

In [ ]:
df['Regiao']=='New York' #MOSTRA TODOS OS RESULTADOS

In [ ]:
df[df['Regiao']=='New York'] #FILTRA APENAS O RESULTADO DESEJADO

In [ ]:
df[df['Regiao']=='New York'].iloc[675] #NESTE CASO ALÉM DE FAZER O FILTRO ELE APONTA A POSIÇÃO DA LINHA ESCOLHIDA

In [ ]:
df[df['Segmento']=='Corporativo'].iloc[0:2,0:10] # FILTRO COM LOCALIZAÇÕES ESPECÍFICAS

In [ ]:
df[df['Segmento']=='Corporativo'].iloc[0:2,[0,10]] #FILTRO MOSTRA AS DUAS PRIMEIRAS LINHAS DENTRO DO FILTRO COM OS VALORES DENTRO DAS 10 PRIMEIRAS COLUNAS.

In [ ]:
df.iloc[:,7] #EXECUTANDO FILTRO PELA COLUNA.

In [ ]:
df[df.iloc[:,10]>10] #APLICANDO FILTRO BASEADO NA COLUNA 'Quantidade' MAIOR QUE 10

In [ ]:
df[(df['Regiao']=='Berlin') & (df['Categoria']=='Tecnologia')].iloc[:10,[4,7,8,9]] #FILTRO COM DOIS CAMPOS - 10 PRIMEIRAS LINHAS E 4 COLUNAS SELECIONADAS

In [ ]:
df[(df['Regiao']=='Berlin') & (df['Categoria']=='Tecnologia')].iloc[:,3]

In [ ]:
df[(df['Segmento']=='Home Office') & (df['Categoria'].isin(['Tecnologia','Moveis']))] #SEM ILOC, APENAS FILTRO COM ISIN PARA DETERMINAR DOIS VALORES EM UMA COLUNA

In [ ]:
df[(df['Segmento']=='Home Office') & (df['Categoria'].isin(['Tecnologia','Moveis']))].iloc[:,[3,4,5,7,10]] #FILTRO COM ILOC - TODAS AS LINHAS COM AS COLUNAS ESPECÍFICAS

Link para continuação do aprendizado:
https://hub.asimov.academy/

https://www.youtube.com/watch?v=1JpYOqvDJNU&ab_channel=AsimovAcademy

https://www.youtube.com/watch?v=nkY2PtnTkvs&t=1159s&ab_channel=Jos%C3%A9EduardoSantaremSegundo